# Python
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# VS Code
.vscode/

# JetBrains
.idea/

# Model files
Model/colorization_release_v2.caffemodel
Model/colorization_deploy_v2.prototxt
Model/pts_in_hull.npy